[Unit]
Description=Cloudstack Setup Initialization
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/default/cloudstack-init
ExecStart=/usr/bin/cloudstack-setup-databases ${DB_CS_USER}:${DB_CS_PASSWD}@${DB_HOST} --deploy-as=${DB_ADM_USER}:${DB_ADM_PASSWD} -e ${ENCRYPTION_TYPE} -m ${MGT_SERVER_KEY} -k ${DB_KEY}
ExecStart=/usr/bin/cloudstack-setup-management

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cloudstack

[Install]
WantedBy=multi-user.target
