[mysqld]
innodb_rollback_on_timeout=1
innodb_lock_wait_timeout=600
# max_connections depends on the db servers number (350 * db_servers_count)
# for 1 db server  => 350
# for 2 db servers => 700
# for n db servers => n * 350
max_connections=350
log-bin=mysql-bin
binlog-format = 'ROW'