[Unit]
Description=Cloudstack Setup Initialization
After=network.target
ConditionPathExists=!/var/cloudstack/.cloudstack-provisionned__

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/default/cloudstack-init
ExecStart=/usr/bin/cloudstack-setup-databases ${DB_CS_USER}:${DB_CS_PASSWD}@${DB_HOST} --schema-only -e ${ENCRYPTION_TYPE} -m ${MGT_SERVER_KEY} -k ${DB_KEY}
ExecStart=/usr/bin/cloudstack-setup-management
ExecStart=/usr/bin/touch /var/cloudstack/.cloudstack-provisionned__

[Install]
WantedBy=multi-user.target
