[Unit]
Description=CloudStack Management Server
After=syslog.target network.target mariadb.service mysqld.service mysql.service
Wants=mariadb.service mysqld.service mysql.service

[Service]
Type=simple
User=cloud
EnvironmentFile=/etc/default/cloudstack-management
WorkingDirectory=/var/log/cloudstack/management
PIDFile=/var/run/cloudstack-management.pid
ExecStart=/usr/bin/java $JAVA_DEBUG $JAVA_OPTS -cp $CLASSPATH $BOOTSTRAP_CLASS
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target